*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(179, 72, 255)
}

h1{
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
}

.botao{
    display: flex;
    justify-content: space-around;
}

#começarJogo, #reinicarJogo{ 
    padding: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 1rem;
    margin: 30px 0;
    border: 0;
    width: 20%;
    font-size: 1.5rem;
}

#reinicarJogo{
    background-color: orange;
}

#Bingo{
    border: 3px solid white;
    width: 70%;
    margin: auto;
    background-color: purple;
    display: none;
    padding: 10px;
}

#nome-cartela {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
}

#cartela-bingo table{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    width: 200px;
    font-size: larger;
    background-color: antiquewhite;
    margin: 10px auto;
}

#cartela-bingo td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
    font-size: 1.5rem;
}

#cartela-bingo td:hover{
    background-color: rgb(198, 186, 171);
}

#cartela-bingo th{
    padding-top: 5px;
    font-size: 2rem;
}